/* Header */
.main-header .logo {

}
.main-header .logo img {

}
.main-header .logo-lg, .main-header .logo-mini{
    
}
/* Sidebar Toggle */
div.wrapper .main-sidebar {
  height: 100%;
}
li.sidebar-include-toggle {
    position: absolute;
    bottom: 0;
    left:0;
    border-top: 1px solid #d2d6de;
    width: 100%;
    height: 51px;
}
.sidebar-menu > li > a.sidebar-toggle {
    height: 51px;
    padding: 14px 20px 0 0;
}
.sidebar-menu > li > a.sidebar-toggle > .fa {
    width: 5px;
}



@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li.sidebar-include-toggle {
        position: absolute;
        bottom: 0;
        left:0;
        height: 51px;
    }
}




div.formDescription div.icon img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  float: left;
}
.star {
    display: inline-block; 
}
.star i {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119; 
}
img.formlogo{
    max-height:50px;
    max-width:50px;
    margin-right:15px;
}

.tasks-menu a p {
    white-space: pre-line;
}

.messages-menu a p {
   white-space: normal;
}


section.page form .form-group.required label:after {
  content: '*';
  color: red; }

    /* Missing Attributes
 *-------------------------------------- */
.no-data {
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 140%;
  margin-bottom: 20px;
  padding: 1em;
  background-color: #fff;
  position: relative;
  border: 1px solid transparent; }
  .no-data h3 {
    text-transform: none; }
  .no-data ul {
    text-align: left; }

.success {
  color: #00B900; }
  .success .required,
  .success .fa-check {
    color: #46a546; }
  .success .required {
    font-weight: bold; }

.danger,
.warning {
  color: #000000; }
.danger .required,
.danger .fa-exclamation-triangle,
.warning .required,
.warning .fa-exclamation-triangle {
  color: #8a6d3b; }
.danger .required,
.warning .required {
  font-weight: bold; 
}